.section-second {
  background-color: #f7f8fc;
  height: 724px;
}
:root {
  --main: var(--bs-primary);
}
li {
  margin: 0;
  padding: 0;
}

.header {
  background-color: blue;
}
li {
  color: #222222;
}
.main {
  background-color: var(--main);
}
.esfera {
  margin-top: 98px;
  margin-left: 65px;
  width: 85%;
  height: 85%;
  border-radius: 50%; /* Hacer un círculo perfecto */
  background: conic-gradient(from 90deg, #fa7436 50%, #f7f8fc 50%);
}

.footer {
  background-color: orange;
}



/*Estilos Nathi*/
.cuadro-blanco {
  background-color: red; /* Color de fondo rojo */
  color: white; /* Color de texto blanco */
  border-radius: 10%; /* Bordes circulares */
  width: 100px; /* Ancho del cuadro */
  height: 100px; /* Altura del cuadro */
  display: flex; /* Utiliza Flexbox para centrar el contenido */
  align-items: center; /* Centra el contenido verticalmente */
  justify-content: center; /* Centra el contenido horizontalmente */
  text-align: center; /* Asegura que el texto esté centrado si ocupa más de una línea */
  padding: 20px; /* Añade algo de padding alrededor del texto */
  box-sizing: border-box; /* Asegura que el padding no afecte las dimensiones establecidas */
}


.containerOrange {
  border-radius: 16px;
  margin: 80px;
  background-color: #FA7436;
  width: 1170.25px;
  height: 416px;
  position: relative;
}
.palmeras {
  position: absolute;
  top: 10px;
  right: 0px;
}
.circulos {
position: absolute;
margin-top: 97px;
width: 425px;
}

.subscribeContainer {
  height: 500px;
}
.containerOrange h1 {
  
  padding: 50px 25%;
  color: white;
  height: 124px;
  font-family: Volkhov;
  font-size: 48px;
  line-height: 62px;
  text-align: center;
}
/* Estilos para la barra de búsqueda */
.search-container {
max-width: 600px;
margin: 120px auto;
}

/* Estilos para el contenedor flex que envuelve el campo de entrada y el botón */
.search-wrapper {
display: flex;
position: relative;
}

/* Estilos para el campo de entrada de búsqueda */
.search-wrapper input[type="text"] {
flex: 1;
padding: 20px;
border: 1px solid #ccc;
border-radius: 5px;
}

/* Estilos para el botón de búsqueda */
.search-wrapper button[type="submit"] {
position: absolute;
right: 8px;
top: 10px;
padding: 10px 20px;
background-color: #FA7436;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;

}

/* Estilos cuando el cursor está sobre el botón de búsqueda */
.search-wrapper button[type="submit"]:hover {
background-color:#0056b3;
}

.footerContainer {
display: flex;
margin: 100px;
justify-content: space-between;
}
.footerContainer h4 {
color: #222222;
}

.footerOne {
width: 250px;
}
.footerOne h4{
font-family: Volkhov;
}
.footerTwo {
display: flex;
gap: 100px;
}
.footerTwo h4{
font-size: 18px;
}
.footerOne,
.footerTwo > div {
margin-right: 20px; /* Ajusta el espacio entre los elementos según sea necesario */
}