.section-second {
  background-color: #f7f8fc;
  height: 724px;
}
:root {
  --main: var(--bs-primary);
}
li {
  margin: 0;
  padding: 0;
}

.header {
  background-color: blue;
}
li {
  color: #222222;
}
.main {
  background-color: var(--main);
}
.esfera {
  margin-top: 98px;
  margin-left: 65px;
  width: 85%;
  height: 85%;
  border-radius: 50%; /* Hacer un círculo perfecto */
  background: conic-gradient(from 90deg, #fa7436 50%, #f7f8fc 50%);
}

.footer {
  background-color: orange;
}



/*Estilos Nathi*/
.cuadro-blanco {
  background-color: red; /* Color de fondo rojo */
  color: white; /* Color de texto blanco */
  border-radius: 10%; /* Bordes circulares */
  width: 100px; /* Ancho del cuadro */
  height: 100px; /* Altura del cuadro */
  display: flex; /* Utiliza Flexbox para centrar el contenido */
  align-items: center; /* Centra el contenido verticalmente */
  justify-content: center; /* Centra el contenido horizontalmente */
  text-align: center; /* Asegura que el texto esté centrado si ocupa más de una línea */
  padding: 20px; /* Añade algo de padding alrededor del texto */
  box-sizing: border-box; /* Asegura que el padding no afecte las dimensiones establecidas */
}
